# ===== Frontend (Vercel) =====

# URL do backend no Render (SEM /api no final). Ex.: https://acapulco-api.onrender.com
REACT_APP_API_URL=

# (opcional) URL do socket, se for diferente do backend
REACT_APP_SOCKET_URL=
